<form action="/app/controllers/main.php" method="post">
    <label for="size">Size:</label><br>
    <input type="text" id="size" name="size"><br>
    <label for="brand">Brand:</label><br>
    <input type="text" id="brand" name="brand"><br>
    <label for="type">Type:</label><br>
    <input type="text" id="type" name="type"><br>
    <label for="min_price">Min Price:</label><br>
    <input type="number" id="min_price" name="min_price" min="0"><br>
    <label for="max_price">Max Price:</label><br>
    <input type="number" id="max_price" name="max_price" min="0"><br>
    <input type="submit" value="Search">
</form>